
.Light_CardView{display:flex; flex-direction:column; justify-content:space-between; 
  box-shadow:10px 10px 30px rgba(15, 41, 107, 0.12), -10px -10px 30px rgba(255,255,255,1); width:100%;
  border-radius:20px; padding:16px 20px; font-family:"Roboto", sans-serif; background-image:linear-gradient(158deg, #E8EBF2,#ffffff);
box-sizing: border-box; transition:all ease 0.3s}

.Dark_CardView{display:flex; flex-direction:column; justify-content:space-between; 
  box-shadow:inset 15px 15px 30px rgba(19, 19, 20, 0.5), inset -15px -15px 30px rgba(82, 87, 95, 0.5); width:100%;
  border-radius:20px; padding:16px 20px; font-family:"Roboto", sans-serif; background-image:linear-gradient(158deg ,#31353C,#35393f);
box-sizing: border-box; transition:all ease 0.3s}

.CardView__main{padding:50px 0;}

.CardView__rank{color:$mainColor; font-style: italic; font-size: 28px; line-height: 1; font-weight: 400;}
.CardView__title{font-size:18px; color:$gray7; font-weight:500;  margin:12px 0px; line-height: 24px;
overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp:4; max-height:96px;}
.CardView__info{padding-top:10px; font-size:12px; line-height: 16px;}
.CardView__info--user{color:$gray7; text-align: center;}
.CardView__info--option{display:flex;}
.CardView__info--option-comment{color:$mainColor}

.CardView__wrap .swiper-wrapper{align-items: center;}
.CardView__wrap .swiper-slide{padding:50px 80px 80px; box-sizing:border-box; display: flex; align-items: center;}