
$black: #121212;
$gray01 : #010101;
$gray111 : #111111;
$gray: #999999;
$graya: #A8A29E;
$grayb : #bcbcbc;
$grayc: #cccccc;
$graye: #e5e5ec;
$grayd: #dedede;
$grayf0: #f0f0f0;
$grayf:#F9FAFB;
$gray7: #767676;
$white: #ffffff;
$mainColor: #ff6600;
$accentColor: #ffcb7a;
$backColor: #f2f3f7;
$subColor: #afd8D8;
$mainBlue : #74bcde;
$mainRed : #ff4d4d;
