.container{width:100%; max-width:1200px; margin:0 auto; box-sizing:border-box; padding: 0 20px;}
.material-icons{display:block;}

@media only screen and (max-width:768px){}
@media only screen and (max-width:400px){
  .container{max-width:100%;}
}